[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = ".next"

[dev]
  command = "npm run dev"
  port = 3000

[[redirects]]
  from = "/"
  to = "/homepage"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
